<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/static/styles.css' />
    <link rel="stylesheet"
    href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>

  <body>
    <div class='container'>
      {% if 'username' not in session %}
        <div class="col-md-2 text-right">
          <a class='log-button' href="{{url_for('showLogin')}}">Login</a>
        </div>
      {% else %}
        <div class="col-md-2 text-right">
          <a class='log-button' href="{{url_for('gdisconnect')}}">Logout</a>
        </div>
      {% endif %}
      {% block content %}
      {% endblock %}
    </div>

  </body>


</html>
