{% extends "base.html" %}
{% block content %}
    <h1>{{category.name}}</h1>
  </br>
    <a href="{{url_for('editCategory', category_id=category_id)}}">Edit Category
    </a>
  </br>
    <a href="{{url_for('deleteCategory', category_id=category_id)}}">Delete
      Category</a>
  </br>
  </br>
    <a href="{{url_for('newItem', category_id=category.id)}}">Create Item</a>
  </br>
  </br>

    {% for i in items %}

    {{i.name}}
  </br>


    {{i.description}}
  </br>

    <a href="{{url_for('editItem', category_id=category.id,
    item_id=i.id)}}">Edit</a>
  </br>
    <a href="{{url_for('deleteItem', category_id=category.id,
    item_id=i.id)}}">Delete</a>

    {% endfor %}
  </br>
  </br>
    <a href="{{url_for('homepage')}}">Home</a>

{% endblock %}
